@mixin shimmer-loader {
  .shimmer {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    animation: skeleton-shimmer 1s infinite cubic-bezier(0.39, 0.58, 0.57, 1);

    @keyframes skeleton-shimmer {
      0% {
        transform: translateX(-10%);
      }
      100% {
        transform: translateX(100%);
      }
    }
  }
}

.h-skeleton-loader {
  overflow: hidden;
  display: flex;
  margin-bottom: 50px;

  > div {
    display: flex;

    .skeleton {
      width: 220px;
      height: 330px;
      background-color: #eeeeee;
      margin-right: 20px;
      overflow: hidden;

      @include shimmer-loader();
    }
  }

}

.books-loader {
  overflow: hidden;
  display: flex;
  margin-bottom: 40px;

  > div {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;

    @media (max-width: 768px) {
      justify-content: space-around;
      row-gap: 20px;
    }

    .skeleton {
      width: 400px;
      height: 200px;
      background-color: #eeeeee;
      overflow: hidden;

      @media (max-width: 768px) {
        min-width: 300px;
        width: 100%;
        max-width: 400px;
      }

      @include shimmer-loader();
    }
  }
}
