.home-container {
  > h3 {
    padding-bottom: 17px;
    padding-top: 27px;
    margin: 0 52px 23px 52px;
    border-bottom: 1px solid #eee;
  }

  .all-books-wrapper {
    padding: 0 40px 40px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    @media (min-width: 1440px) {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(3, minmax(300px, 403px));
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }

    @media (max-width: 400px) {
      padding: 0 30px 40px 30px;
    }
  }
}
